@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add padding for Mac OS title bar */
body {
  padding-top: 12px;
}

/* Custom animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 